body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.editor {
	border: 1px rgb(52, 56, 58);
	width: 100%;
}

.form-top {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex: 1;
}

form {
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	gap: 20px;
}

form input {
	width: 47%;
	height: 45px;
	padding: 0 15px;
	border: 1px solid rgb(52, 56, 58);
	font: inherit;
	border-radius: 5px;
}

form input:focus {
	outline: none;
}

form textarea {
	width: 100%;
	height: 150px;
	padding: 15px;
	border: 1px solid rgb(52, 56, 58);
	resize: none;
	font: inherit;
	border-radius: 5px;
}

form textarea:focus {
	outline: none;
}

form .form-top {
	width: 100%;
}

.form-bottom {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

input[type='submit'] {
	width: 100%;
	height: 45px;
	border: none;
	background-color: rgb(52, 56, 58);
	color: white;
	font: inherit;
	cursor: pointer;
	border-radius: 5px;
}

input[type='submit']:hover {
	background-color: rgb(52, 56, 58);
}

input[type='file'] {
	height: 45px;
	font: inherit;
	border: none;
	border-radius: 5px;
}

select {
	width: 47%;
	height: 45px;
	padding: 0 0 0 10px;
	border: 1px solid rgb(52, 56, 58); 
	font: inherit;
	margin: 0;
	border-radius: 5px;
}

select:focus {
	outline: none;
}

select option {
	font: inherit;
}

.container {
	width: 47%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

input[type="file"] {
	display: none;
}

label {
	width: 47%;
	height: 45px;
	display: block;
	position: relative;
	background-color: transparent;
	color: #000000;
	background-color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: auto;
	cursor: pointer;
	border-radius: 5px;
}

label i {
	text-align: left;
}


@media only screen and (max-width: 800px) {

	form {
		width: 100%;
		padding: 0 20px;
	}

	form input {
		width: 100%;
	}

	.container {
		width: 100%;
	}

	select {
		width: 100%;
	}


}