nav {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(52, 56, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #131516;
    padding: 0 10px;
}

.left-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left-header img {
    width: 40px;
    height: 40px;
    animation: all 0.2s ease-in-out;
}

.left-header img:hover {
    filter: brightness(0.8);
}

.left-header .search-bar {
    display: flex;
    height: 40px;
    width: 250px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    background-color: var(--color-surface-200);
}

.search-results {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--color-surface-200);
    width: 250px;
    z-index: 1;
    margin-left: 10px;
    padding: 0px;
    gap: 10px;
    display: none;
}

.search-results a {
    display: block;
    text-align: left;
    width: 100%;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid var(--color-surface-300);
    padding: 15px 10px;
}

.search-results a:last-child {
    border-bottom: none;
}

.search-results a:hover {
    cursor: pointer;
}

.left-header .search-bar input {
    border-radius: 0 5px 5px 0;
    padding: 5px;
    font-size: 1rem;
    color: #d8d4cf;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    margin: 0 !important;
}

.left-header .search-bar input:focus {
    outline: none;
}

.left-header .search-bar input:focus-within {
    outline: none;
}

.left-header .search-bar svg {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-right: 5px;
    fill: #d8d4cf;
}


.right-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    margin-right: 10px;
}

.nav-link {
    padding-left: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #d8d4cf;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}

.sign-up {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--color-primary-500);
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}


.sign-up:active {
    background-color: #272727;
    border: 1px solid #272727;
    color: #ffffff;
}

.sign-up:focus {
    outline: none;
}

.sign-up:focus-within {
    outline: none;
}

.sign-up:hover {
    text-decoration: none !important;
}

.search-icon {
    display: none;
}

.profile-dropdown {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding-top: 10px;
    width: 200px;
    background-color: var(--color-surface-200);
    border-radius: 5px;
    position: absolute;
    top: 70px;
    right: 10;
    padding-bottom: 10px;
    z-index: 1;
    display: none;
}

.dropdown-link {
    width: 100%;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 4 00;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.dropdown-link svg {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    fill: var(--primary-text-color);
}

.dropdown-link:hover {
    color: var(--color-primary-500)
}

.dropdown-link:hover svg {
    fill: var(--color-primary-500)
}


.dropdown-link.sign-out {
    margin-top: 10px;
}

hr {
    width: 100%;
    border: 1px solid var(--color-surface-100);
    margin: 10px 0;
}

.profile-pic {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-surface-100)
}

.profile-pic:hover {
    filter: brightness(0.8);
}

.svg-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

.svg-link svg {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-top: 3px;
    fill: var(--primary-text-color);
}

.error {
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    min-height: 50px;
    display: none;
    z-index: 100;
}

.error button {
    padding: none;
    border: none;
    background-color: transparent;
}

#error-message {
    margin-right: 10px;
    font-size: .8rem;
    font-weight: 400;
    color: #fff;
}


#error-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#error-close svg {
    height: 20px;
    width: 20px;
    fill: #fff;
}

.danger,
.error {
    background-color: #bb2124;
}

.success {
    background-color: #22bb33;
}

.warning {
    background-color: #f0ad4e;
}

@media only screen and (max-width: 800px) {

    .left-header .search-bar {
        display: none;

    }


    .left-header img {
        width: 35px;
        height: 35px;
    }

    .search-icon {
        display: block;
        cursor: pointer;
    }

    .sign-up {
        font-size: 0.8rem;
    }

    .profile-pic {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #272727;
    }
}