<meta charset="UTF-8" />
<!-- Primary Meta Tags -->
<meta name="title" content="InkBloom | ProjectRexa Blog" />
<meta
  name="description"
  content="Welcome to InkBloom, my personal tech playground!"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://blog.projectrexa.dedyn.io" />
<meta property="og:title" content="InkBloom | ProjectRexa Blog" />
<meta
  property="og:description"
  content="Welcome to InkBloom, my personal tech playground!"
/>
<meta
  property="og:image"
  content="https://cdn.projectrexa.dedyn.io/projectrexa/assets/meta-logo.png"
/>

<!-- X -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://blog.projectrexa.dedyn.io" />
<meta property="twitter:title" content="InkBloom | ProjectRexa Blog" />
<meta
  property="twitter:description"
  content="Welcome to InkBloom, my personal tech playground!"
/>
<meta
  property="twitter:image"
  content="https://cdn.projectrexa.dedyn.io/projectrexa/assets/meta-logo.png"
/>

<!-- Other Meta Tags -->
<meta name="keywords" content="InkBloom, Blog, ProjectRexa" />
<meta name="author" content="ProjectRexa" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="icon"
  href="https://cdn.projectrexa.dedyn.io/projectrexa/assets/favicon.ico"
/>

<link rel="stylesheet" href="/static/css/base.css" />