<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.html' %}
    <title>InkBloom|ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/authorize.css" />
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <main>
      <button
        class="button button-projectrexa"
        onclick="window.location.href='/user/authorize/projectrexa'"
      >
        <img
          src="https://wsrv.nl/?url=https://cdn.projectrexa.dedyn.io/projectrexa/assets/logo_no_background.png&w=50&h=50&maxage=31d&q=75&output=webp"
          alt="ProjectRexa Logo"
        />
        <span>Continue with ProjectRexa</span>
      </button>
    </main>
    {% include 'partials/footer.html' %}
  </body>
</html>
