<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.html' %}
    <title>InkBloom | ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/blog.css" />
    <script src="/static/js/blog.js" defer></script>
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai-sublime.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <main>
      <div class="blog-meta">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="blog-summary">{{ blog.summary }}</p>
        <div class="blog-author">
          <img
            src="{{ blog.authour_profile_pic }}"
            alt="{{ blog.author_name }}"
          />
          <div class="blog-author-info">
            <p class="blog-author-name">{{ blog.authour_name }}</p>
            <p class="blog-date">
              {{(blog.created_at | string) | format_timestamp}}
            </p>
          </div>
        </div>
      </div>
      <div class="blog-content">
        <div class="blog-cover-image">
          <img src="{{ blog.cover_image }}" alt="{{ blog.title }}" />
        </div>
        {{ blog.content | safe }}
      </div>
      <div class="blog-comments">
        <div class="blog-comments-header">
          <h2>Comments</h2>
          <p>{{ blog.comments_count }} Comments</p>
        </div>
        {% if session['logged_in'] %}
          {% if session['blocked'] %}
          <div class="blog-authentication-notice danger">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z"/></svg>
            <p class="comment-form-login">This account has been banned from commenting, due to violation of community guidelines.</p>
          </div>
          {% else %}
          <p>{{session['name']}}, you are logged in as {{session['admin']}} and {{session['blocked']}} </p>
          <div class="blog-comment-form">
            <form action="/blog/{{ blog.id }}/comment" method="POST" id="comment-form">
              <textarea
                name="content"
                id="comment-content"
                placeholder="By posting a comment, you agree to the community guidelines and that your account name and profile photo will be displayed with your comment.              "
              ></textarea>
              <div class="comment-form-footer">
              <button type="submit">Comment</button>
              </div>
            </form>
          </div>
          {% endif %}
        {% else %}
        <div class="blog-authentication-notice">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z"/></svg>
          <p class="comment-form-login">You need to be <a href="/user/authorize">authenticated</a> in order to comment.</p>
        </div>
        {% endif %}
         <div class="blog-comments-list">
          {% for comment in comments %}
            {% if comment.user_role == 'admin' %}
            <div class="blog-comment moderator-comment" data-id = "{{ comment._id }}" data-user-id = "{{ comment.commented_by }}">
              {% else %}
              <div class="blog-comment" data-id = "{{ comment._id }}" data-user-id = "{{ comment.commented_by }}">
              {% endif %}
            
              <div class="blog-comment-author">
                <img
                  src="{{ comment.user_profile_pic }}"
                  alt="{{ comment.user_name }}"
                />
                <div class="blog-comment-author-info">
                  <p class="blog-comment-author-name">{{ comment.user_name }}</p>
                  <p class="blog-comment-date">
                    {{(comment.created_at | string) | format_timestamp}}
                  </p>
                </div>
              </div>
              <p class="blog-comment-content">{{ comment.comment | capitalize }}</p>
              {% if session['admin'] %}
              <div class="blog-comment-actions">
                <button class="delete-comment">Delete</button>
                <button class="block-user">Block User</button>
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
    </main>
    {% include 'partials/footer.html' %}
  </body>
</html>
