<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/header.html' %}
    <title>{{title}} - InkBloom|ProjectRexa</title>
    <link rel="stylesheet" href="/static/css/blog.css" />
    <script src="/static/js/blog.js" defer></script>
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai-sublime.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <main>
      <div class="blog-meta">
        <h1 class="blog-title">{{ blog.title }}</h1>
        <p class="blog-summary">{{ blog.summary }}</p>
        <div class="blog-author">
          <img
          src="//wsrv.nl?url={{blog.authour_profile_pic}}&w=50&h=50&maxage=31d&q=75&output=webp"            
            alt="{{ blog.authour_name }}"
          />
          <div class="blog-author-info">
            <p class="blog-author-name">{{ blog.authour_name }}</p>
            <p class="blog-date">
              {{(blog.created_at | string) | format_timestamp}}
            </p>
          </div>
          {% if session['admin'] %}
          <div class="blog-actions">
            <button class="edit-blog" onclick="window.location.replace('/admin/blogs/edit/{{ blog._id }}')">Edit</button>
            <button class="delete-blog" onclick="deleteBlog('{{ blog._id }}')">Delete</button>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="blog-content">
        <div class="blog-cover-image">
          
          <img src="//wsrv.nl?url={{blog.cover_image}}&maxage=31d&q=50&output=webp" alt="{{ blog.title }}" />
        </div>
        {{ blog.content | safe }}
      </div>
      {% if suggested_blogs %}
      <div class="blog-suggested-blogs">
        <h2>Suggested Blogs</h2>
        <div class="blog-suggested-blogs-list">
          {% for blog in suggested_blogs %}
          <div class="blog-suggested-blog">
            <a href="/blogs/{{ blog.slug }}">
              <div class="blog-suggested-blog-cover-image">
                <img src="//wsrv.nl?url={{ blog.cover_image }}&maxage=31d&q=50&output=webp" alt="{{ blog.title }}" />
              </div>
              <div class="blog-suggested-blog-details">
                <p class="blog-suggested-blog-title">{{ blog.title }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="blog-comments">
        <div class="blog-comments-header">
          <h2>Comments</h2>
          <p>{{ blog.comments_count }} Comments</p>
        </div>
        {% if session['logged_in'] %}
          {% if session['blocked'] %}
          <div class="blog-authentication-notice danger">
            <p class="comment-form-login">This account has been banned from commenting, due to violation of community guidelines.</p>
          </div>
          {% else %}
          <div class="blog-comment-form">
            <form action="/blog/{{ blog._id }}/comment" method="POST" id="comment-form">
              <input type="hidden" name="csrf_token" value="{{ csrf_token }}" id="csrf_token" />
              <textarea
                name="content"
                id="comment-content"
                placeholder="By posting a comment, you agree to the community guidelines and that your account name and profile photo will be displayed with your comment.              "
              ></textarea>
              <div class="comment-form-footer">
              <button type="submit">Comment</button>
              </div>
            </form>
          </div>
          {% endif %}
        {% else %}
        <div class="blog-authentication-notice">
          <p class="comment-form-login">You need to be <a href="/user/authorize?next={{ url_for(request.endpoint, **request.view_args) }}">authenticated</a> to comment.</p>
        </div>
        {% endif %}
         <div class="blog-comments-list">
          {% for comment in comments %}
            {% if comment.user_role == 'admin' %}
            <div class="blog-comment moderator-comment" data-id = "{{ comment._id }}" data-user-id = "{{ comment.commented_by }}">
              {% else %}
              <div class="blog-comment">
              {% endif %}
            
              <div class="blog-comment-author">
                <img
                  src="//wsrv.nl?url={{ comment.user_profile_pic }}&w=20&h=20&maxage=31d&q=75&output=webp"
                  alt="{{ comment.user_name }}"
                />
                <div class="blog-comment-author-info">
                  <p class="blog-comment-author-name">{{ comment.user_name }}</p>
                  <p class="blog-comment-date">
                    {{(comment.created_at | string) | format_timestamp}}
                  </p>
                </div>
              </div>
              <p class="blog-comment-content">{{ comment.comment | capitalize }}</p>
              {% if session['admin'] %}
              <div class="blog-comment-actions">
                <button class="delete-comment" onclick="deleteComment('{{ comment._id }}')" data-comment-id = "{{ comment._id }}">Delete</button>
                {% if comment.user_role != 'admin' %}
                <button class="block-user" onclick="blockUser('{{ comment.commented_by }}')" data-user-id = "{{ comment.commented_by }}">Block User</button>
                {% endif %}
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

    </main>
    {% include 'partials/footer.html' %}
  </body>
</html>
